/*Grid Example */

.container {
  display: grid;
  grid-template columns: 1fr 1fr ;
}

.column1 {
  background-colour:  red;
  padding: 20px;
}
.column2 {

}

.card img {
  max-width: 100%
  height: auto;
}

.card
